{% extends 'base.html' %}
{% load static %}

{% block title %} About Me {% endblock title %}

{% block body %}
{% comment %} <link rel="stylesheet" href="{% static '/css//contactus.css'  %}"> {% endcomment %}


<div class="about-us">
    <div class="contaner about-us-card">
      <div class="pre-text">
        <p> I am highly motivated and skilled Full Stack Developer with experience in both Python and web development. I am possesses a strong technical background, with a keen eye for detail and a passion for delivering high-quality software solutions.</p>
        <br>
        <p>As a Full Stack Developer, I have a solid understanding of both front-end and back-end technologies, and has experience working with a variety of programming languages, frameworks, and tools. I am particularly skilled in Python, having used it to develop a range of applications for clients, including web applications, desktop applications, and automation scripts.</p>
      </div>
  
      <img src="{% static '/img/hodeei.png' %}" alt="">
      <h3 class="course-name name">Yash Baravaliya</h3>
      <p>I am highly motivated and skilled Full Stack Developer with experience in both Python and web development. I am possesses a strong technical background, with a keen eye for detail and a passion for delivering high-quality software solutions.</p>
      <button class="resume">
        Resume
      </button>
    </div>
  </div>
    


{% endblock body %}