{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}} {% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static '/css//card-box.css'  %}">

<div class="blog">

{{post.Content|safe}}


<br><br>

</div>

<div class="card-box" style="position:fixed ;">
    <div class="align">
        <span class="red"></span>
        <span class="yellow"></span>
        <span class="green"></span>
    </div>
  
    <h2>{{post.Subject}}</h2>
    {% for allchap in Chapter %}
    {% if post.Subject == allchap.Subject %}
    <div class="link">
        <a href="/{{allchap.Subject}}/{{allchap.slug}}">
            <button class="cta">
            <span>{{allchap.title}}</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>




{% endblock body %}



{% block robo-box %}

<h2 class="robo-heading">{{post.Subject}}</h2>
    {% for allchap in Chapter %}
    {% if post.Subject == allchap.Subject %}
    <div class="link">
        <a href="/{{allchap.Subject}}/{{allchap.slug}}">
            <button class="cta">
            <span>{{allchap.title}}</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </a>
    </div>
    {% endif %}
    {% endfor %}




{% endblock robo-box %}